<section class="form-auth text-center">



  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up to Contribute!</h1>
  </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <div class="form-label-group ">
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control", id: "inputPassword" %>
    </div>

    <div class="form-label-group ">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control", id: "inputPassword" %>
    </div>


    <div class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "form-control", id: "inputPassword" %>
    </div>


  <div class="actions">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</section>
