
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(255,255,255,255.255)), url(<%= image_path "EthereumPurple.jpg" %>)">
  <div class="container">
      <%= image_tag "Logo.jpg", width: "400", height: "100"%>
      <p style="font-family:courier; font-size:125% "><strong>Discussing the value of solutions to crypto's biggest problems</strong></p>
  </div>
</div>




<div class="container m-5">

  <h1 class="text-center m-5" style="font-family:courier;" >Our Articles</h1>

  <div class="row d-flex">


    <% @posts.reverse.each do |post| %>

      <div class="card mx-auto m-5 rounded-bottom border-dark" style="width: 402px;">
          <a href="<%= post_url(post)  %>"  > <%= image_tag(post.image.card.url) %></a>
          <div class="card-trip-infos">
              <div class="card-body">
                <h5 class="card-title text-center "><%= link_to post.title, post, class: "text-decoration-none text-reset" %></h5>
                <p class="card-text text-center"><%= post.description.truncate_words(30).html_safe %></p>
              </div>
          </div>
       </div>
      <br>
    <% end  %>

  </div>
</div>
<br>

<div class="container">



</div>



<div class="banner" style="background-image:linear-gradient(rgba(255,255,255,255.1),rgba(0,0,0,0.0)), url(<%= image_path "EthPurple.jpg" %>);">
  <div class="colum text-center" id="contact">
  <h1 style="font-family:courier; font-size:150% "><strong>Get into contact and start contributing</strong></h1>
    <div>
      <% if current_user %>
        <p class="pt-3"style="font-family:courier;">If you have a good idea about potential, please feel free to reach out to Maxx3007 on Reddit, Github, or Slack!</p>

        <div class="icons">

              <a class="mr-3" href="https://github.com/Maxx3007" target="_blank">
                <i class="fab fa-github fa-4x" style="color:black;"></i>
                <p style="color:black;">
                  My Github
                </p>
              </a>

              <a class="ml-3" href="https://www.reddit.com/user/maxx3007" target="_blank">
                <i class="fab fa-reddit fa-4x" style="color:black;"></i>
                <p style="color:black;">
                  My Reddit
                </p>
              </a>
        </div>

      <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary btn-lg" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success btn-lg"  %>
      <% end %>
    </div>
  </div>
</div>
