

<div class=" text-center">
  <%= image_tag(@post.image.standard.url) %>
</div>


<h3 class="text-center mt-3" style = "font-family:Impact, Charcoal, sans-serif;">
  <%= @post.title %>
</h3>


<p class="text-center mt-3" style = "font-family: sans-serif;">
  <%= @post.description.html_safe %>
</p>

<p class="text-center">
  <%= link_to 'Back', posts_path, class: "btn btn-primary" %>
</p>





<div class="comments">
  <div class="container text-right">
      <h3><strong><%= @post.comments.count %></strong> Comments</h3>
      <hr>
      <%= render @post.comments %>
    <% if signed_in? %>
      <div class="comment-form">
        <hr>
          <h3 class="card-title text-center">Leave a Comment</h3>
          <%= render "comments/form" %>
      </div>
    <% else %>
      <div class="text-center m-5">
        <h3>Please Sign in to leave a comment</h3>
          <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary btn-lg mt-5" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success btn-lg mt-5"  %>
      </div>
    <% end %>
  </div>
</div>
